<section id="contact">
    <aside class="pages">4/5</aside>
    <img src="img/Forma.png" class="compass" alt="compass icon">
    <div class="map component">
        <div class="wrapper">
            <div class="address">
                <address>
                    <strong>Infinity Group Sp. z o.o.</strong>
                    <br><br>
                    <p>ul. Skladowa 12,</p>
                    <p>15-399 Bialystok,</p>
                    <p>Polska.</p>
                </address>
                <br>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
            </div>
            <img src="img/placeholder.png" class="pin" alt="here we are!">
        </div>

    </div>



</section>