<header class="header">
    <div class="wrapper">
        <div class="header-logo">
            <a href="/"><img src="img/ig-logo.png" alt="logo Infinity Group"></a>
        </div>
        <div id="header-nav__bg"></div>
        <nav>

            <ul id="header-nav" class="header-nav">
                <li class="header-nav__li">
                    <a href="#mission">MISSION</a>
                </li>

                <li class="header-nav__li">
                    <a href="#clients">CLIENTS</a>
                </li>

                <li class="header-nav__li">
                    <a href="#products">PRODUCTS</a>
                </li>

                <li class="header-nav__li">
                    <a href="#contact">CONTACT</a>
                </li>

            </ul>

        </nav>

        <button class="header-menu-btn" data-js="navButton">

            <span></span>
            <span></span>
            <span></span>

        </button>

        <!-- <ul id="header-nav_visible" class="header-nav visible">
                <li class="header-nav_li">
                    <a href="#mission">MISSION</a>
                </li>

                <li class="header-nav_li">
                    <a href="#clients">CLIENTS</a>
                </li>

                <li class="header-nav_li">
                    <a href="#products">PRODUCTS</a>
                </li>

                <li class="header-nav_li">
                    <a href="#contact">CONTACT</a>
                </li>

            </ul> -->


    </div>