<section id="products">
    <aside class="pages">3/5</aside>

    <div class="component products">
        <div class="wrapper">

            <h2 class="h2">Products</h2>
            <h3 class="h3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</h3>

            <div class="products__container">
                <div class="product">
                    <img src="img/001-malware-1.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product">
                    <img src="img/002-smartphone-1.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product">
                    <img src="img/003-folder.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile">
                    <img src="img/004-malware.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile">
                    <img src="img/005-pendrive.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile">
                    <img src="img/006-network.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile">
                    <img src="img/007-smartphone.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile">
                    <img src="img/008-fishing.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile">
                    <img src="img/009-data-protection.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile tablet">
                    <img src="img/010-credit-card.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile tablet">
                    <img src="img/011-hacker.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
                <div class="product mobile tablet">
                    <img src="img/012-firewall.png" alt="" class="product-icon">
                    <p class="product-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>