<section id="clients">
    <aside class="pages">2/5</aside>
    <div class="component">
        <input type="radio" id="i1" name="images" checked />
        <input type="radio" id="i2" name="images" />
        <input type="radio" id="i3" name="images" />


        <div class="slide_img" id="one">
            <img src="/img/trianglify.png" alt="slajder background">
            <img src="/img/iPad_Air.png" alt="iPad Air" class="phone component">
            <h2 class="h2">Clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore
                magna aliqua.</p>
            <span>Project Manager / <a href="https://www.infinity-group.pl" target="_blank">Infinity-group.pl</a></span>
            <div class="buttons">
                <button type="button">web design</button><button type="button">usability</button><button
                    type="button">e-commerce</button>
            </div>
        </div>

        <div class="slide_img" id="two">

            <img src="/img/trianglify.png" alt="slajder background">
            <h2 class="h2">Clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore
                magna aliqua.</p>
            <span>Project Manager / <a href="https://www.infinity-group.pl" target="_blank">Infinity-group.pl</a></span>
            <div class="buttons">
                <button type="button">web design</button><button type="button">usability</button><button
                    type="button">e-commerce</button>
            </div>
        </div>

        <div class="slide_img" id="three">
            <img src="/img/trianglify.png" alt="slajder background">

            <h2 class="h2">Clients</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore
                magna aliqua.</p>
            <div class="buttons">
                <button type="button">web design</button><button type="button">usability</button><button
                    type="button">e-commerce</button>
            </div>
        </div>


        <div id="nav_slide" class="nav-slide wrapper">
            <label for="i1" class="dots" id="dot1"></label>
            <label for="i2" class="dots" id="dot2"></label>
            <label for="i3" class="dots" id="dot3"></label>

        </div>

    </div>


</section>