//Colors

$white: #FFFFFF;
$black: #000000;

$green: #62c017;
$grey: #2d2d2d;
$lightgrey: #f1f1f1;
$verylightgrey: #f9f9f9;
$darkgrey: #222222;
$darkgrey2: #242424;
$slidergrey: #3C3C3C;
$formgrey: #373737;
$darkgrey-nav: #333333;
$grey-footer: #8F8F8F;



//Fonts

$font-1: "Mada",
sans-serif;
$font-2: "Homenaje",
sans-serif;

$font-light: 300;
$font-regular: 400;
$font-bold: 900;

$base-unit: 14px;
$font-form: 1.57rem;
$font-slider: 2.14rem;
$font-size-h1: 4.14rem;
$font-size-h2: 3.6rem;

$font-small: .86rem;
$space: 2* $base-unit;

//Breakpoints

$bp-tablet: 768px;
$bp-desktop: 1200px;


$container-max-width: 86 * $base-unit;