.hero {
    position: relative;
    height: 450px;
    margin: 0;
    background-color: $green;
    background-image: linear-gradient(to bottom right,
            rgba(16, 24, 30, 0.9) 0%,
            rgba(52, 162, 21, 0.9) 50%,
            rgba(215, 174, 19, 0.9) 100%),
        url(../img/chips-computer_mobile.jpg);
    background-repeat: no-repeat;
    background-position: center center;

    @include tablet {
        height: 600px;
        background-image: linear-gradient(to bottom right,
                rgba(16, 24, 30, 0.9) 0%,
                rgba(52, 162, 21, 0.9) 50%,
                rgba(215, 174, 19, 0.9) 100%),
            url(../img/chips-computer_tablet.jpg);
    }

    @include desktop {
        height: 100vh;
        background-image: linear-gradient(to bottom right,
                rgba(16, 24, 30, 0.9) 0%,
                rgba(52, 162, 21, 0.9) 50%,
                rgba(215, 174, 19, 0.9) 100%),
            url(../img/chips-computer_desktop.jpg);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: repeating-linear-gradient(-45deg,
                transparent,
                transparent 1px,
                rgba(0, 0, 0, 0.2) 2px,
                rgba(0, 0, 0, 0.1) 3px);
    }

    @media (min-width: 1024px) and (orientation: landscape) {
        height: 100vh;
        background-size: cover;
        min-height: 36 * $base-unit;
    }

    .wrapper {
        z-index: 2;
        height: 100%;
    }

    &-cont {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);




        h1 {

            color: $grey;


            &:first-line {

                color: $white;
            }
        }

        @include tablet {
            top: 40%;
            left: 50%;
            transform: translate(-50%);
        }

        @include desktop {

            top: 50%;
            left: 45%;
        }


    }
}