// global
@import '_reset';
@import '_variables';
@import '_global';
@import '_mixins';

// addons
@import url('https://fonts.googleapis.com/css?family=Homenaje|Mada:300,400');
// our modules

@import 'c_nav';
@import 'c_header';
@import 'c_cookies';
@import 'c_mission';
// @import 'c_slider';
@import 'c_products';
@import 'c_map';
@import 'c_form';
@import 'c_footer';